@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Slab&display=swap');
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: small;
}

#map {
    height: calc(100vh - 25px);
    width: 100%;
  }

.fondo {
    background: #2f6c51;
    font-family: 'Open Sans', sans-serif;
    color: white;
}